/* global.css */

body {
  margin: 0;
  padding: 0;
}

.section {
  width: 70%;
  margin: 0 auto;
}

.sectionTitle {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10vh;
}

.sectionSubtitle {
  color: gray;
  text-align: center;
}

.button {
  color: black;
  text-decoration: none;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
}

.button:hover {
  color: white;
  background-color: black;
}

@media only screen and (max-width: 600px) {
  .section {
    width: 90%;
    margin: 0 auto;
  }
  .sectionTitle {
    font-size: 30px;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 7vh;
  }
}
