/* hero.module.css */

.container {
  display: flex;
  gap: 5%;
}

.heroImage {
  border-radius: 20px;
}

.heroText {
  padding-top: 10%;
}

.heroHeading {
  font-size: 38px;
  margin: 0;
}

.highlight {
  background-color: black;
  color: white;
  font-size: 34px;
}

.heroSubtitle {
  color: gray;
}

.resumeButton {
  margin-left: 25px;
}

.buttons {
  margin-top: 30px;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heroImage {
    height: 250px;
    width: 200px;
  }

  .heroText {
    text-align: center;
  }
  .heroHeading {
    font-size: 35px;
  }
  .highlight {
    font-size: 31px;
  }
}

@media only screen and (max-width: 940px) and (min-width: 768px) {
  .heroImage {
    width: 300px;
    height: 400px;
  }
  .heroHeading {
    font-size: 33px;
  }
  .highlight {
    font-size: 28px;
  }
}
