/* card.module.css */

.card {
  width: 30vw;
  margin-top: 20px;
}

.cardTitle {
  margin: 0;
}

.image {
  border-radius: 20px;
}

.techUsed {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3px;
}

.tech {
  margin: 5px 0 0 5px;
  font-size: 12px;
  font-weight: bold;
  background-color: lightgray;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
}

.cardSubtitle {
  color: gray;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
  .techUsed {
    justify-content: center;
  }
}
