/* navigation.module.css */

.navbar {
  width: 90%;
  height: 10vh;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.brand {
  font-weight: normal;
}

.navLink {
  text-decoration: none;
  color: black;
  padding-left: 10px;
}
