/* navigation.module.css */

.navbar {
  width: 90%;
  height: 10vh;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.brand {
  font-weight: normal;
  font-size: 30px;
  margin: 0;
}

.navLink {
  text-decoration: none;
  color: black;
  padding-left: 15px;
}

.faicon {
  height: 20px;
  margin-bottom: -5px;
}

.hamburgerMenu {
  height: 25px;
}

/* Media queries */

@media only screen and (min-width: 600px) {
  .hamburgerMenu {
    display: none;
  }
}

@media only screen and (max-width: 599px) {
  .navLink {
    display: none;
  }

  .mobileMenu {
    position: fixed;
    top: 6vh;
    left: 70vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30vw;
    background-color: white;
  }

  .mobileLink {
    text-decoration: none;
    color: black;
    padding: 10px 0 10px 0;
  }
}
