/* navigation.module.css */

.navbar {
  width: 90%;
  height: 10vh;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.brand {
  font-weight: normal;
  font-size: 30px;
  margin: 0;
}

.navLink {
  text-decoration: none;
  color: black;
  padding-left: 15px;
  font-size: 20px;
}

.faicon {
  width: 20px;
  margin-bottom: -5px;
}
